<div class="container">
  <a
    *ngFor="let hero of heroes"
    class="card-body"
    routerLink="/detail/{{ hero.id }}"
  >
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal" class="text-dark">
            {{ hero.name }}
          </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title" class="text-success">
            €{{ hero.saldo }}
            <small class="text-muted">/ {{ hero.saldo * btc }} </small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>2 GB of storage</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark">
            Click for details
          </button>
        </div>
      </div>
    </div>
  </a>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md"></div>
    </div>
  </footer>
</div>
